*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;  /* 10px=1rem  */
}

                                        /* ------end-of-header------ */

.container-fluid{
    padding: 5px 30px;
}

.header__imgNav{
    width: 25vh;
    
}

.nav-item{
    margin-right: 50px;
    color: black;   
}

#header__item{
    padding: 5px 15px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
}

#header__item:hover{
    background: #009900;
    color: white;
    font-weight: bold;
}


                                        /* ------start-of-main------ */

    /* inicio */

#main__container{
    height: 500px;
}

#main__slogan{
    margin-top: 3rem;
    margin-left: 6rem;
    font-size: 8rem;
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    
}

/* historia */

.main__title{
    font-family: 'Barlow Condensed', sans-serif;
    color: #009900;
    letter-spacing: 0.2rem;
}

.linea__title{
    height: 2px !important;
    background-color:#009900;
    opacity: 1;
    
}

#main__text{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
    line-height: 3rem;
    text-align:center !important;
}

/* area */


.art__area{
    background-color: #005c00;
    
}

#main__titleLegal, #main__titleSocial, #main__titleArq, #main__titleContable{
    background-color: #005c00;
    opacity: 1 !important;
    color: white;
    padding: 0.5rem 0rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
    
}

#main__textAreas{
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    letter-spacing: .1rem;
}

.main__imgAreas{
    width: 40vh;
    
}

.main__imgAreas--modifier{
    width: 40vh;
    height: 27vh;
}



                            /* -- CONTACTO -- */

.main__contacto{
    background-image: url(../assets/img-contacto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}


 .main__titleForm{
    color:white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
} 

 .main__divEtapa{
    color: white;
    font-size: 1.2rem;
    font-family: 'Barlow Condensed', sans-serif;
} 

 .main__impCoop{
    width: 350px;
}

.main__impName, .main__impApellido, .main__impTel{
    height: 25px;
    width: 200px;
}

.main__impCoop{
    height: 25px;
    width: 410px;
}

.main__impMail{
    width: 410px;
    height: 25px;
}

.main__divEtapa{
    font-size: 2rem;
}

.main__impForm{
    padding: 2rem !important;
}

.main__impMsj{
    width: 410px;
}

.main__impEnv{
    width: 70px;
}

.main__impName:hover{
    background-color: #999999;
    color: white;
}

.main__impName::placeholder{
    color: black;
    font-size: 1.3rem;
}

.main__impApellido:hover{
    background-color: #999999;
    color: white;
}

.main__impApellido::placeholder{
    color: black;
    font-size: 1.3rem;
}

.main__impCoop:hover{
    background-color: #999999;
    color: white;
}

.main__impCoop::placeholder{
    color: black;
    font-size: 1.3rem;
}

.main__impTel:hover{
    background-color: #999999;
    color: white;
}

.main__impTel::placeholder{
    color: black;
    font-size: 1.3rem;
}

.main__impMail:hover{
    background-color: #999999;
    color: white;
}

.main__impMail::placeholder{
    color: black;
    font-size: 1.3rem;
}

.main__impMsj:hover{
    background-color: #999999;
    color: white;
}

.main__impMsj::placeholder{
    color: black;
    font-size: 1.3rem;
}

.main__impEnv:hover{
    background-color: #005c00;
    color: white;
}


/* ------end-of-main------ */

/* ------start-of-footer------ */

.footer{
    background-color: black;
}

#footer__row{
    justify-content: space-around;
}

.footer__desc{
    font-size: 1.5rem;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2rem;
}

.footer__textDesc{
    font-size: 2rem;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
}

/* menu-footer */

.footer__list{
    list-style: none;
}

.footer__item{
    margin-top: 1.5rem;
}

.footer__link{
   color: white;
   text-decoration: none;
   font-size: 1.2rem;
}

/* redes */

#footer__logo{
    width: 15vw;
}

.footer__logosRedes{
    width: 3vw;
}

.footer__logosRedes--modifier{
    width: 5vw;
}

#footer__titleDat{
    color: white;
    font-size: 2rem;
}

#footer__textDat{
    color: white;
    font-size: 1.3rem;
    font-family: 'Barlow Condensed', sans-serif;
}

.footer__texrInfo{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
} 


/* ------end-of-footer------ */

