@import "./var";

// declaración de mapa

$mapa:(
  color: #009900, 
  size: 1.5rem,
  sizeTitle: 2.5rem
);

@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
    
}


#main__container{
     @include sizes(auto,500px,)
 }

#main__slogan{
    margin-top: 3rem;
    margin-left: 6rem;
    font-size: 8rem;
    color: black;
    font-family: $font-Title;
    
}

/* historia */

.main__title{
    
    color: map-get($mapa, color);
    letter-spacing: 0.2rem;
}

.linea__title{
    height: 2px !important;
    background-color: map-get($mapa, color );   //color
    opacity: 1;
    
}

.main__text{
    font-family: $font-Text;
    font-weight: bolder;
    line-height: 3rem;
    text-align:center !important;
}

/* area */


.art__area{
    background-color: $Green-Dark; //color
    
}

#main__titleLegal{
    background-color: $Green-Dark; //color
    opacity: 1 !important;
    color: white; 
    padding: 0.5rem 0rem;
    font-family: $font-Title;
    font-size: map-get($mapa, sizeTitle );
    
}

#main__titleSocial{
    @extend #main__titleLegal;
}
#main__titleArq{
    @extend #main__titleLegal;
} 

#main__titleContable{
    @extend #main__titleLegal;
}

#main__textAreas{
    color: white;
    font-family: $font-Text;
    font-size: map-get($mapa, size );
    letter-spacing: .1rem;
}

.main__imgAreas{
    width: 40vh;
    
}

.main__imgAreas--modifier{
    @include sizes(40vh, 27vh ) 
}