.footer{
    background-color: black;
    
    #footer__row{
        justify-content: space-around;
    }
    
    &__desc{
        font-size: 1.5rem;
        color: white;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 2rem;
    }
    
    &__textDesc{
        font-size: 2rem;
        color: white;
        font-family: $font-Title;
    }
    
    /* menu-footer */
    
    &__list{
        list-style: none;
    }
    
    &__item{
        margin-top: 1.5rem;
    }
    
    &__link{
       color: white;
       text-decoration: none;
       font-size: 1.2rem;
    }
    
    /* redes */
    
    #footer__logo{
        width: 15vw;
    }
    
    &__logosRedes{
        width: 3vw;
    }
    
    &__logosRedes--modifier{
        width: 5vw;
    }
    
    #footer__titleDat{
        color: white;
        font-size: 2rem;
    }
    
    #footer__textDat{
        color: white;
        font-size: 1.3rem;
        font-family: $font-Title;
    }
    
    &__texrInfo{
        color: white;
        font-family: $font-Title;
    } 
    
    
    /* ------end-of-footer------ */
}