


.main{
    margin-top: 10rem !important;

    &__heroSlogan{
        font-size: 100%;
        width: 30%;
        height: 20%;
    }
}

.main__equipo{
    margin-top: 12rem !important;
}

.main__expe{
    margin-top: 10.7rem !important;
}

.main__nove{
    margin-top: 11.5rem !important;
}


 .main__heroImg{
         width: 100%;
         height: 100%;
        }

.main__heroSloganText{
    font-size: 5rem;
}


// .main__somosText{
//     font-size: 1.2rem;
// }


// EQUIPO




// CONTACTO

.main__contacto{
    background-image: url("../assets/img/contacto.png");

 }


 .footer__icono-telefono {
     letter-spacing: .1rem;
 }

