
// incio

.main{
    margin-top: 10rem !important;

    &__heroImg{
        width: 100%;
        height: 100%;
       }

    &__somosTitle{
       font-family: $title-font; 
    }

    &__somosText{
        font-family: $text-font;
    }

    &__asesoramiento{
        font-family: $title-font;

        &SocialTitle{
            font-family: $title-font;
           }

        &SocialText{
            font-family: $text-font;
        }

        &LegalTitle{
            font-family: $title-font;
        }

        &LegalText{
            font-family: $text-font;
        }

        &ArqTitle{
            font-family: $title-font;
        }

        &ArqText{
            font-family: $text-font;
        }
    }

}


// equipo

.main__equipo{
    margin-top: 12rem !important;

        &Title{
            font-family: $title-font;
        }

        &Social{
            font-family: $title-font;
        }

        &Legal{
            font-family: $title-font;
        }

        &Arq{
            font-family: $title-font;
        }

        &Nombre{
            font-family: $text-font;
        }


}


// experiencia

.main__expe{
    margin-top: 10.7rem !important;

    &Title{
        font-family: $title-font;
    }

    &Text{
        font-family: $text-font;
        }
    }


// novedades

.main__nove{
    margin-top: 11.5rem !important;

    &Title{
        font-family: $title-font;
    }

    &Text{
        font-family: $text-font;
        }
}


// contacto

.main__contacto{
    background-image: url("../assets/img/contacto.png");

    &Title{
        font-family: $title-font;
    }

 }


