.footer{
    font-family: $title-font;

    &__link:hover{
        color: black !important;
    }
}

.footer__dirección, .footer__correo, .footer__telefono{
    letter-spacing: .1rem;
}

.footer__icono-telefono {
    letter-spacing: .1rem;
}