@import url(../_base.scss);

.header__link{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: $text-font;
    margin: 1rem;
    color: #198754 !important;
    
    &:hover{
        background-color: #198754;
        color: white !important;
    }
}
