*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

//-----Media Query -----//


@media screen and (max-width: 576px){ 

     .main__heroImg{
             height: 200px !important;
        }

    .main__expeCorusel{
            height: 180px !important;
       }

}



// texto de somos

@media screen and(min-width:992px){
    .main__somosText{
        font-size: 1.5rem !important;
    }
}

@media screen and(min-width:1200px){
    .main__somosText{
        font-size: 1.8rem !important;
    }
}

